.category {
    text-align:center;
    cursor: pointer;
}

.cardtitle {
    text-align: center;
}

#button, .txtbutton {
background: none;
border: 0px;
    }

#button:active, .txtbutton:active{
    font-weight: bold;
    color: #B41616;
    }


#form, .boxes, #btntest{
    position: relative;
    text-align: center; 
}

.input {width: 100%;
        margin: 0 auto;
        overflow: hidden;
        border: 0px;
        background:#E0E0E0;}


        .input:focus {
            height: 3em;
            background:#B8B8B8;}
 
.overlay {
margin: auto;
width: 100%;
color: #333;
z-index: 400;
display:none;}
                
.show {
display:none;
margin: auto;
top:50px;
background-color:#9C9C9C;
}   

.close {position:relative; margin: 0 auto;}

#txtEmail, #txtPassword, #btnlogin, #btnsignup, #btnlogout {
    display:block;
    margin: auto;
    margin-top:10px;}

    #btnlogout {display:none;}


#authfield { 
    display:run-in; 
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    top:0px;
    left:50%;
    transform: translateX(-50%);
    width:100%;
}
    
.authcontent {
    padding:3%;
    position: fixed;
    left:50%;
    transform: translateX(-50%);
    background: rgba(255,255,255,0.9);}
}
    
h1 {font-family: 'Abril Fatface', cursive;
    font-size: 6em;
    text-align: center;}

h2 {font-size: 2em;
    text-align: center;}

    
#content {
    overflow: hidden;
    margin-top:10%;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}


#inputwrapper {left: 50%;
            transform: translateX(-50%);
            position: absolute;
            }

.mdl-textfield {display:flex;
            }


.canvasDiv {z-index: -1;
            position: absolute;}

#canvas { 
        height:100%;
        position:fixed; 
        top:0;
        left:0;
        z-index: 1
        }

/*Auth-form material design*/

body
{
	background: #f5f5f5;
}

div.guteurlsBox {background: transparent;}

.inactiveLink {
    pointer-events: none;
    cursor: default;
 }

/*.linkprev {
    display:flex;
    flex-direction: column-reverse;
    padding:2%;  }
*/
/*#div0 {background: red;}*/