.category {
    text-align:center;
    cursor: pointer;
}

.cardtitle {
    text-align: center;
}

#button {
background: none;
border: 0px;
    }

#button:active {
    font-weight: bold;
    color: #B41616;
    }


#form, .boxes, #btntest{
    position: relative;
    text-align: center; 
}

.input {width: 100%;
        margin: 0 auto;
        overflow: hidden;
        border: 0px;
        background:#E0E0E0;}


        .input:focus {
            height: 3em;
            background:#B8B8B8;}
 
.overlay {
background-color: #ffffff;
width: 100%;
color: #333;
z-index: 400;
display:none;}
                
.show {
left: 50%;
background-color:#9C9C9C;
position:absolute;}          
    

h1 {font-family: 'Abril Fatface', cursive;
    font-size: 6em;
    text-align: center;}

h2 {font-size: 2em;
    text-align: center;}
    
#content {
    margin-top:10%;
}

.mdl-textfield {display:flex;
            margin-left: 40%;}

.btnlogout {display:none;}



/*.linkprev {
    display:flex;
    flex-direction: column-reverse;
    padding:2%;  }
*/
/*#div0 {background: red;}*/